.alert { position: fixed; }
.text-center { text-align: center; }
.lead { font-size: 18px; }
.text-right { text-align: right; }
#picture { position: absolute; }
#plot { width: 700px; height: 190px; }
#cellInfo, #cellAddIllInfo { position: absolute; }
